log/
obj/
_site/
.optemp/
_themes*/
_repo.*/
.vs/
common/

.openpublishing.buildcore.ps1
WorkplaceAnalytics/Tutorials/Create-queries.md
WorkplaceAnalytics/Tutorials/Group-to-group-queries.md
WorkplaceAnalytics/Tutorials/Group-to-group-queries.md
